# Ignore Astro files
*.astro

# Ignore node_modules directory
node_modules/
deno.lock

# Ignore build output
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Setting folder
.idea/
.vscode/
.github/
.omo/
.astro/
.zed/

# macOS-specific files
.DS_Store

# Other File
AGRNTS.md

# environment variables
.env
.env.production
