# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/docs
!/.vscode
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md
