---
import { getCollection } from "astro:content";
import Footer from "@components/astro/Footer.astro";
import Header from "@components/astro/Header.astro";
import Tag from "@components/astro/Tag.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getUniqueTags from "@utils/getUniqueTags";

const posts = await getCollection("blog");

const tags = getUniqueTags(posts);
---

<Layout title={`標籤 | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle="標籤" pageDesc="所有標籤">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
