---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/astro/Header.astro";
import Footer from "@components/astro/Footer.astro";
import LinkButton from "@components/astro/LinkButton.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content">
    <br />
    <div class="not-found-wrapper">
      <h1>ERROR 404</h1>
      <img
        src="/assets/mikucat.png"
        alt="404"
        width="200"
        height="100"
        class="mx-auto"
      />
      <br />
      <p>! 金罵找唔到恁所需要唉欲件，請查明後輸入正確的路徑 !</p>
      <br />
      <LinkButton
        href="/"
        className="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        ! 請按一下這邊，得以回到主頁面 !
      </LinkButton>
      <br />
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
