---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/astro/Header.astro";
import Footer from "@/components/astro/Footer.astro";
import LinkButton from "@/components/astro/LinkButton.astro";
import { SITE } from "@/config";
---

<Layout title={`500 Not Found | ${SITE.title}`}>
  <Header />

  <main
    id="main-content"
    class="mx-auto flex max-w-3xl flex-1 items-center justify-center"
  >
    <div class="mb-14 flex flex-col items-center justify-center">
      <br />
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold mb-4">
          <font color="red">ERROR 500</font>
        </h1>
      </div>
      <br />
      <img
        src="/assets/kuaikuai.png"
        alt="500"
        width="200"
        height="100"
        class="mx-auto"
      />
     
    <br/>
      <p class="mb-6 text-lg">
        ! 伺服器壞壞,請等主人進行維護 !
      </p>

      <!-- 回主頁面  -->
      <LinkButton
        href="/"
        class="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        ! 請按一下這邊，得以回到主頁面 !
      </LinkButton>
      
      <br />
      <span aria-hidden="true" class="mt-4 block">¯\_(ツ)_/¯</span>
    </div>
  </main>

  <Footer />
</Layout>