---
import Footer from "@/components/astro/Footer.astro";
import Header from "@/components/astro/Header.astro";
import Links_URL from "@/components/react/Links.tsx";
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
---

<Layout title={`友站鏈結 | ${SITE.title}`}>
  <Header activeNav="links" />
  <Main pageTitle="友站鏈結" pageDesc="這邊存放一些認識好友的其它站">
    <Links_URL client:load />
  </Main>
  <Footer />
</Layout>
