---
import Links_URL from '../components/links.vue';
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
---

<Layout title={`Links | ${SITE.title}`}>
    <Header activeNav="links_url" />
    <Main pageTitle="友站鏈結" pageDesc="這邊存放一些認識好友的其它站">
         <Links_URL client:load />
    </Main>
    <Footer />
</Layout>