---
import { getCollection } from "astro:content";
import Footer from "@components/astro/Footer.astro";
import Header from "@components/astro/Header.astro";
import SearchBar from "@components/react/Search";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getSortedPosts from "@utils/getSortedPosts";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
	title: data.title,
	description: data.description,
	data,
	slug,
}));
---

<Layout title={`搜尋 | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="搜尋" pageDesc="搜尋任何事物...">
    <SearchBar client:load searchList={searchList} />
    <br />
    <img
      src="/assets/drink.png"
      alt="search"
      class="mx-auto"
      width="200"
      height="150"
    />
  </Main>
  <Footer />
</Layout>
