---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/astro/Header.astro";
import Footer from "@/components/astro/Footer.astro";
import { SITE } from "@/config";

const backUrl = SITE.showBackButton ? `${Astro.url.pathname}` : "/";
---

<Layout title={`搜尋 | ${SITE.title}`}>
  <Header />
  <Main pageTitle="搜尋" pageDesc="搜尋任何事物...">
    <div id="pagefind-search" transition:persist data-backurl={backUrl}></div>
    <br />
    <img
      src="/assets/drink.png"
      alt="search"
      class="mx-auto"
      width="200"
      height="150"
    />
  </Main>
  <Footer />
</Layout>

<script src="../utils/pageFindSearch.ts"/>

<style is:global type="text/css">
  @import "../styles/search.css";
</style>
