---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/astro/Header.astro";
import Footer from "@components/astro/Footer.astro";
import Pagination from "@components/astro/Pagination.astro";
import Card from "@components/react/Card";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout title={`文章歸檔 | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="文章歸檔" pageDesc="這邊是存放一堆文章集合。。。">
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
